.sudoku {
	display: inline-block;
	border: 2px solid black;
}

.sudoku .numput:nth-child(3n):not(:last-of-type) {
	border-right: 1px solid black;
}

.sudoku .row:nth-child(3n):not(:last-of-type) {
	border-bottom: 1px solid black;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px dotted darkblue;
  border-radius: 50%;
  animation: Loading infinite 1s ease-out;
  margin: 135px;
}

@keyframes Loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}