@keyframes Loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(120deg);
  }
}

.loading {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 3px dotted darkblue;
  border-radius: 50%;
  animation: Loading infinite 1s ease-out;
  margin: 135px;
}

.game {
  display: inline-block;
  position: relative;
}

.sudoku {
	display: inline-block;
  outline: 2px solid black;
}

.sudoku.hidden {
  visibility: hidden;
}

.sudoku .numput:nth-child(3n):not(:last-of-type) {
	border-right: 1px solid black;
}

.sudoku .row:nth-child(3n):not(:last-of-type) {
	border-bottom: 1px solid black;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls button {
  font-family: VT323;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  background-color: darkslategray;
  padding: 4px 10px;
  border: none;
  box-shadow: 2px 2px 5px 0px rgb(85,85,85);
  margin: 10px 0px;
}

.controls button:focus {
  box-shadow: 0px -2px 5px 0px rgb(85,85,85);
  outline: 1px solid transparent;
}

.controls button:disabled {
  background-color: lightgray;
  box-shadow: none;
}

.controls button:last-of-type {
  margin-left: 10px;
}

.controls.undo-redo button {
  margin: 10px 5px;
}
