.numput::-webkit-outer-spin-button,
.numput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.numput[type=number] {
  -moz-appearance: textfield;
}

.numput {
  font-family: VT323;
  font-size: 22px;
  color: darkslategray;
  width: 35px;
  height: 35px;
  border: 1px solid lightgray;
  text-align: center;
  background-color: white;
}

.numput:focus {
	outline: 3px solid darkblue;
	border: 1px solid darkblue;
}

.numput.highlight, .numput.highlight:read-only {
	background-color: #eeeefe;
}

.numput.invalid {
  background-color: indianred;
}

.numput:read-only {
  font-weight: 700;
  background-color: white;
  color: black;
	cursor: default;
}
